GENERATE_INFOPLIST_FILE = YES
CODE_SIGN_ENTITLEMENTS = Support/XToolMac.entitlements
CODE_SIGN_STYLE = Automatic
ENABLE_HARDENED_RUNTIME = YES

PRODUCT_NAME = xtool
PRODUCT_MODULE_NAME = XToolMac

INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools

#include? "Private-Team.xcconfig"
#include? "Private.xcconfig"
