GENERATE_INFOPLIST_FILE = YES
CODE_SIGN_STYLE = Automatic
ENABLE_HARDENED_RUNTIME = YES

PRODUCT_NAME = xtool
PRODUCT_MODULE_NAME = XToolMac

INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools

#include? "Private-Team.xcconfig"
#include? "Private.xcconfig"

XTL_IS_EMPTY_ = YES
XTL_COERCE_TO_BOOL_YES = YES
XTL_COERCE_TO_BOOL_ = NO
XTL_INVERT_YES = NO
XTL_INVERT_NO = YES

XTL_HAS_TEAM = $(XTL_INVERT_$(XTL_COERCE_TO_BOOL_$(XTL_IS_EMPTY_$(DEVELOPMENT_TEAM))))

XTL_CODE_SIGN_ENTITLEMENTS_NO = Support/XToolMac-NoTeam.entitlements
XTL_CODE_SIGN_ENTITLEMENTS_YES = Support/XToolMac.entitlements
CODE_SIGN_ENTITLEMENTS = $(XTL_CODE_SIGN_ENTITLEMENTS_$(XTL_HAS_TEAM))

ENABLE_HARDENED_RUNTIME = $(XTL_HAS_TEAM)

XTL_TEAM_DEFINE_YES = -DHAS_TEAM
OTHER_SWIFT_FLAGS = $(inherited) $(XTL_TEAM_DEFINE_$(XTL_HAS_TEAM))
