/XToolMac.xcodeproj/*
!/XToolMac.xcodeproj/project.xcworkspace
/XToolMac.xcodeproj/project.xcworkspace/*
!/XToolMac.xcodeproj/project.xcworkspace/xcshareddata

Private*.xcconfig

/fastlane/README.md
/fastlane/report.xml
/Build
/Private
